body{
    margin-top: 10em;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1em;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.buttons:hover{
    background-color: gray;
}